.header {
    background-color: $color-dark;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 1em;
    border-bottom: 1px solid $color-yellow;

    &__links {
        color: $color-grey;
        text-transform: uppercase;
        font-size: 0.5em;
        font-weight: bold;
    }

    &__links:hover {
        color: $color-yellow;
        // font-size: 0.6em;
    }
}